.header {
    display: flex;
    height: 30px;
    align-items: center;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    color: var(--back-color);
    z-index: 1;
  }
  
  .header__in {
    display: flex;
    align-items: center;
    column-gap: 26px;
  }
  
  .header__logo {
    display: block;
    width: 100px;
    height: 22px;
  }
  
  .header__logo_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .header__nav {
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    align-items: center;
  }
  
  .header__nav_link {
    font-style: 12px;
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
  }
  
  .header__nav_link:has(> .header__nav_link_img) {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }
  
  .header__nav_link_img {
    display: block;
    width: 20px;
    height: 20px;
    object-fit: contain;
  }